*~
*.o
*.elf
*.bin
*.list
*.swp
*.bak
*.out

# execute
calculate
phonebook_bst
phonebook_orig
phonebook_small_struct

# output
phonebook_bst.txt
phonebook_orig.txt
phonebook_small_struct.txt
output.txt
runtime.png
